<!DOCTYPE html>
 <%- include('../../partials/head.ejs') %> 
<html lang="en">
  <body>

  <%- include('../../partials/navbar_admin.ejs') %> 
  <main>
    garau
  </main>
  <%- include('../../partials/footer_scripts.ejs') %>

</body>
</html>